* {
    box-sizing: border-box;
}

body {
    font-family: Arial, serif;
    color: #fff;
    background-color: #333333;
}

.length-setter {
    display: inline-block;
    text-align: center;
    margin: 10% 200px 0;
}

.clock-text {
    font-size: 4em;
}

#clock {
    margin: 20px auto;
    padding: 40px;
    width: 300px;
    height: 300px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #99CC00;
}

#clock-time {
    margin-top: 80px;
}

